<div class="container" *ngIf="this.gameService.selectedGamemode != null">
  <ion-button class="grid" (click)="goBack()">
    <ion-icon name="grid"></ion-icon>
  </ion-button>

  <div class="top">
    <div class="icon">かな</div>
  </div>

  <div class="bottom">
    <span class="name">{{
      this.gameService.selectedGamemode.name | translate
    }}</span>

    <span class="desc"></span>

    <ion-button class="play" (click)="
        this.gameService.start_game(this.gameService.selectedGamemode.id)
      ">play</ion-button>

    <ion-button class="stats">stats</ion-button>
  </div>
</div>
