.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 5vh;

  .grid {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;

    ion-icon {
      padding: 3px;
    }
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;
      height: 80vw;
      background-color: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
      border-radius: 100%;
      font-size: 5em;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;

    .name {
      font-size: 1.5em;
      padding-bottom: 1em;
    }

    .play,
    .stats {
      width: 100%;
      height: 50px;
      font-size: 2em;
    }
  }
}
