<div class="container" *ngIf="this.game_service.selected_gamemode != null">
  <ion-button class="grid" (click)="this.game_service.current_view = 0">
    <ion-icon name="grid"></ion-icon>
  </ion-button>

  <div class="top">
    <div class="icon">icon</div>
  </div>

  <div class="bottom">
    <span class="name">{{
      this.game_service.selected_gamemode.name | translate
    }}</span>

    <span class="desc"></span>

    <ion-button
      class="play"
      (click)="
        this.game_service.start_game(this.game_service.selected_gamemode.id)
      "
      >play</ion-button
    >

    <ion-button class="stats">stats</ion-button>
  </div>
</div>
