ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  height: 40vw;
  width: calc(50% - 5px);
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 1.1em;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

ion-grid {
  padding: 1em 2em !important;
  margin: 0px !important;
  background-color: var(--ion-background-color);
}
