<div class="container">
  <div class="header">
    <span>{{ "KANA_SELECTOR" | translate }}</span>

    <ion-button (click)="this.close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>

  <ion-item-group>
    <ion-button color="primary" class="button_all" (click)="this.group_toggle('all')">{{
      ((this.gameService.filter.hasHIRAGANA || this.gameService.filter.hasKATAKANA ? 'DISABLE' : 'ENABLE') + "_ALL") | translate
    }}</ion-button>
    <div *ngFor="let kana of this.kanas" class="kana">
      <ion-item-divider>
        <ion-label>{{ kana }}</ion-label>
      </ion-item-divider>
      <div class="buttons">
        <ion-button color="primary" class="general" (click)="this.group_toggle('kana', kana, !this.gameService.filter['has' + kana])">
          <span>{{ (((this.gameService.filter['has' + kana]) ? "DISABLE_" : "ENABLE_") + kana) | translate }}</span>
        </ion-button>
        <ion-button color="primary" (click)="this.group_toggle('alt_kana', kana, true)">
          <span>{{ "ENABLE_ALL_ALTERNATIVE" | translate }}</span>
        </ion-button>
        <ion-button color="primary" (click)="this.group_toggle('alt_kana', kana, false)">
          <span>{{ "ENABLE_NO_ALTERNATIVE" | translate }}</span>
        </ion-button>
      </div>
      <ion-item *ngFor="let label of this._KANA_GROUP_TITLES[kana]; let i = index">
        <ion-label>
          <span>
            <ion-checkbox color="secondary" [(ngModel)]="this.activeGroups[kana][i]" (ngModelChange)="checkbox_changed(kana, i)"></ion-checkbox>
            <h3>{{ label | translate }}</h3>
          </span>
          <sub>{{ mixed_kana_elements[kana][i] }}</sub>
        </ion-label>
      </ion-item>
    </div>
  </ion-item-group>
</div>
