.container {
  width: 100%;
  height: 100%;
  padding: calc(1em + 60px) 1em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  position: relative;

  .header {
    width: 100%;
    left: 0px;
    top: 0px;
    height: 60px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--ion-background-color, #fff);
    padding: 0px 1em;
    border-bottom: 1px solid black;
  }

  ion-button {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .button1, .button2, .button3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button1 {
    ion-button {
      width: 75%;
    }
  }

  .button2, .button3 {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.2em;

    ion-button {
      width: calc(50% - 0.4em);
      margin-right: 0.2em;
      margin-bottom: 0.2em;
    }
  }

  table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .disabled {
      background-color: var(--ion-color-medium) !important;
      color: var(--ion-color-medium-contrast) !important;
    }

    td, th {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      transition: background-color 0.25s ease-in-out;
    }

    td {
      background-color: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }

    th {
      background-color: var(--ion-color-secondary);
      color: var(--ion-color-secondary-contrast);
    }

    tr {
      display: flex;
      flex-direction: column;
      margin-right: 5px;
      margin-bottom: 20px;
    }
  }
}
